{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
  </article>
  <div class="ph3 ph4-ns w-100 w-70-ns center">
    <section class="w-100 mw8">
      {{ range where .Site.RegularPages ".Params.spotlight" "eq" true }}
        <div class="relative w-100 mb2">
          {{ partial "novel-blurb.html" . }}
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}