{{ define "main" }}
  <main aria-role="main">
    <header class="ph3 pt4 ph4-ns w-100 w-70-ns center">
      <aside class="b helvetica tracked">
        THE LIBRARY URANIAN PROJECT
      </aside>
    </header>
    <article class="ph3 ph4-ns pv2 w-100 w-70-ns nested-copy-line-height lh-copy serif f4 mid-gray center">
      {{ .Content }}
    </article>
    <div class="ph3 ph4-ns w-100 w-70-ns center">
      <aside class="b helvetica tracked">
        NOVEL SPOTLIGHT
      </aside>
    </div>
    <div class="ph3 ph4-ns w-100 w-70-ns center">
      <section class="w-100 mw8">
        {{ range where .Site.RegularPages ".Params.spotlight" "eq" true }}
          <div class="relative w-100 mb2">
            {{ partial "novel-blurb.html" . }}
          </div>
        {{ end }}
      </section>
    </div>
  </main>
{{ end }}