{{ define "main" }}
<main aria-role="main">
  <div class="ph3 pt4 ph4-ns w-100 w-70-ns center">
    <aside class="b helvetica tracked">
      THE LIBRARY URANIAN COLLECTION
    </aside>
    <article class="nested-copy-line-height lh-copy serif f4 mid-gray center">
      {{ .Content }}
    </article>
    <aside class="b helvetica tracked mb4">
      ALL TAGS
    </aside>
    <div class="mw8 mb4 nested-links">
      {{- partial "taxonomy-tags.html" .Site.Taxonomies.tags -}}
    </div>
    <aside class="b helvetica tracked">
      ALL BOOKS
    </aside>
    <section class="mw8">
      {{ range .Pages }}
        <div class="relative mb2">
          {{ partial "book-blurb.html" . }}
        </div>
      {{ end }}
    </section>
  </div>
</main>
{{ end }}